<div class="rounded-5 shadow bg-light border container p-3 mt-3">
  <div class=" d-flex justify-content-center">
    <h2>Sign up</h2>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
    data: {turbo: false}) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <div class="d-flex p-2 me-4">
        <div class="me-2">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="w-100">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
        </div>
      </div>
      <div class="d-flex p-2 me-4">
        <div class="me-2">
          <i class="fa-solid fa-key"></i>
        </div>
        <div class="w-100">
          <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
        </div>
      </div>
      <div class="d-flex p-2 me-4">
        <div class="me-2">
          <i class="fa-solid fa-check-double"></i>
        </div>
        <div class="w-100">
          <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
        </div>
      </div>
    </div>
    <div class="d-flex p-2 me-4 justify-content-center">
      <div class="form-actions btn btn-primary rounded-4 mb-3">
        <%= f.button :submit, "Sign up" %>
      </div>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
