<div class= "h1rental">
  <h1>My Rentals</h1>
</div>

<div class="d-flex flex-wrap">
  <%@rentals.each do |rental|%>
    <div class="card m-3 my-rentals-card" style="width: 18rem; border-radius: 8px; overflow: hidden;">

      <img class="card-img-top" src=<%= cl_image_path rental.car.photo.key%> alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= rental.car.model %></h5>
        <p class="card-text"><%= rental.status %></p>
        <p class="card-beginning"><%= rental.beginning_date %></p>
        <p class="card-ending"><%= rental.ending_date %></p>
        <p class="card-total"><%= rental.total_price %>$</p>
        <a href="#" class="btn btn-primary btn-my-car">My car</a>
      </div>
    </div>
  <% end %>
</div>
