<div class="d-flex container py-4">
  <div class="card card-car no-border">
    <%= cl_image_tag("#{@car.photo.key}", :class => "card-img") %>
    <div class="card-body card-text-section">
      <div class="d-flex justify-content-between">
        <p><strong><%= "#{@car.model}" %></strong></p>
        <div>
          <p>autonomy</p>
          <p style="color: #FD1015"><strong><%= @car.autonomy %></strong> kms</p>
        </div>
      </div>
      <p><strong><%= "#{@car.owner.first_name + " " + @car.owner.last_name}" %></strong></p>
      <p><%= @car.description %></p>
    </div>
  </div>

  <div class="car_show" data-controller="car-show" data-car-show-my-value="<%= @car.daily_price %>">
    <%= simple_form_for([@car, @rental]) do |f| %>
      <%= f.input :beginning_date %>
      <%# demander à simple form for => écris moi blabla %>
      <%# data-date-target="beginning_date" type="date" %>
      <%# data-action="click->date#diffdate" normalement %>
      <%= f.input :ending_date %>
      <%# data-date-target="ending_date" type="date" %>
      <%# data-action="click->date#diffdate" %>
      <%# data-date-target="ending_date" type="date" %>
      <%# data-action="click->date#diffdate" %>
      <%= f.input :comment %>
      <%= "Total price: " %>
        <br>
      <%= f.submit %>
    <% end %>
  </div>
</div>

<%# On veut récupérer le tj de la car // l18 et dans connect this.data.get("myValue") %>

<%# on veut écouter date de début et date de fin %>

<%# calculer la diff entre les 2 dates %>
<%# faire le produit de la diff et du tj puis l'afficher dans le form(en dynamique) %>
