<div class="d-flex container py-4">
  <div class="card card-car no-border">
    <%= cl_image_tag("#{@car.photo.key}", :class => "card-img") %>
    <div class="card-body card-text-section">
      <div class="d-flex justify-content-between">
        <p><strong><%= "#{@car.model}" %></strong></p>
        <div>
          <p>autonomy</p>
          <p style="color: #FD1015"><strong><%= @car.autonomy %></strong> kms</p>
        </div>
      </div>
      <p><strong><%= "#{@car.owner.first_name + " " + @car.owner.last_name}" %></strong></p>
      <p><%= @car.description %></p>
    </div>
  </div>

  <div class="car_show" data-controller="car-show" data-car-show-my-value="<%= @car.daily_price %>">
    <h3> Rent Now! </h3>
    <%= simple_form_for([@car, @rental]) do |f| %>
      <%= f.input :beginning_date, as: :date, html5: true,
      input_html: { data:{ car_show_target: "start", action:"input->car-show#diffdate"} } %>
      <%= f.input :ending_date, as: :date, html5: true,
      input_html: { data:{ car_show_target: "end", action:"input->car-show#diffdate"} } %>
      <%= f.input :comment %>
      <div class="d-flex justify-content-between">
        <p>Price</p>
        <div data-car-show-target="price">
          <p><strong>0</strong><strong>€</strong></p>
        </div>
      </div>

        <br>
      <%= f.submit "submit rental", class: "btn btn-primary rounded-4 " %>
    <% end %>
    <div>
    <%= link_to "Back to all my rentals", rentals_path %>
    </div>
  </div>
</div>
