
  <div class= "h1rental">
    <h1>My Cars to be rent</h1>
  </div>
  <div class="justify-content-center">
    <div class="d-flex flex-wrap justify-content-center">
      <%@cars.each do |car|%>
        <div class="card m-3 my-rentals-card" style="width: 18rem; border-radius: 8px; overflow: hidden;">
          <% if car.photo.attached? %>
            <img class="card-img-top" src=<%= cl_image_path car.photo.key ,alt:"Card image cap" %>>
          <% else %>
            <img class="card-img-top" src="https://thumbs.dreamstime.com/b/no-cars-sign-8446541.jpg" ,alt ="Card image cap" >
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= car.model %></h5>
            <p> <%= car.brand %> </p>
            <p> <%= car.autonomy %> </p>
            <p> <%= car.description[0..80] %>...</p>
            <p> <%= car.daily_price %> </p>
            <a href="#" class="btn btn-primary btn-my-car">My car</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
