<div class="container py-4">
  <h2>Create a new car for the owner</h2>
  <%#  simple_form_for([@owner, @car]) do |f| %>
  <%= simple_form_for @car, html: { novalidate: false} do |f| %>
    <%= f.input :brand, collection: Car::BRAND_CATEGORY %>
    <%= f.input :model %>
    <%= f.input :autonomy %>
    <%= f.input :description, minlength: 10 %>
    <%= f.input :daily_price %>
    <%= f.submit "New car"%>
    <%# <%= user: @owner %>
  <% end %>
</div>
